@charset "UTF-8";
.japanese-flag {
  width: 300px;
  height: 200px;
  background: #fff;
  position: relative;
  border: 1px solid #000;
}

.red-circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: absolute;
  background: #d7003a;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.UAE-flag {
  width: 300px;
  height: 150px;
  background: #ff0000;
  position: relative;
  border: 1px solid #000;
  z-index: 0;
}

.color-line-green {
  width: 225px;
  height: 50px;
  background: #00732f;
  position: absolute;
  top: 0%;
  left: 25%;
  z-index: 1;
}

.color-line-white {
  width: 225px;
  height: 50px;
  background: #ffffff;
  position: absolute;
  top: calc(100% / 3);
  left: 25%;
  z-index: 1;
}

.color-line-black {
  width: 225px;
  height: 50px;
  background: #000000;
  position: absolute;
  top: calc(200% / 3);
  left: 25%;
  z-index: 1;
}

.korea-flag {
  width: 360px;
  height: 240px;
  background: #ffffff;
  position: relative;
  border: 1px solid #000000;
}

.center-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120px;
  height: 120px;
  transform: translate(-50%, -50%) rotate(33.69deg);
  border-radius: 50%;
}

.red-big-circle {
  width: 120px;
  height: 60px;
  position: absolute;
  background: #cd2e3a;
  top: 0;
  left: 0;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
}

.blue-big-circle {
  width: 120px;
  height: 60px;
  position: absolute;
  background: #0047a0;
  bottom: 0;
  left: 0;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
}

.red-small-circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  background: #cd2e3a;
  top: 50%;
  left: 0;
  transform: (0,-50%);
}

.blue-small-circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  background: #0047a0;
  top: 50%;
  right: 0;
  transform: (0,-50%)
}

.black-big-line1 {}

.black-big-line2 {}

.black-big-line3 {}

.black-big-line4 {}

.black-big-line5 {}

.black-big-line6 {}

.black-small-line1 {}

.black-small-line2 {}

.black-small-line3 {}

.black-small-line4 {}

.black-small-line5 {}

.black-small-line6 {}

.black-small-line7 {}

.black-small-line8 {}

.black-small-line9 {}

.black-small-line10 {}

.black-small-line11 {}

.black-small-line12 {}
