.flag {
    position: relative;
    width: 720px;
    height: 480px;
    background-color: #fff;
    border: 1px solid #000;
}

.circle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    overflow: hidden;
    transform: translate(-50%,-50%); 
}

.red-half {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: #cd2e3a;
    transform: rotate(0.59rad);
    transform-origin: 50% 100%;
}

.blue-half {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: #0047a0;
    transform: rotate(0.59rad);
    transform-origin: 50% 0%;
}


.red-small {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #cd2e3a;
    transform: rotate(0.59rad);
    transform-origin: 50% 0%;
    transform: translate(-85.5%,-85.5%);
}

.blue-small {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #0047a0;
    transform: rotate(0.59rad);
    transform-origin: 50% 100%;
    transform: translate(-14.5%,-14.5%);
}

.big-rectangle {
    width: 120px;
    height: calc(480px*2/48); 
    background-color: #000;
}

.small-rectangle {
    width: calc(480px*11/96); 
    height: calc(480px*2/48);
    background-color: #000;
}

.box {
    width: 120px; 
    height: calc(480px*8/48);
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between; 
    align-content: space-between; 
    position: absolute;
    left: 50%;
    transform-origin: 50% calc(480px*26/48); 
}

.upper-left {
    transform:
        translate(-50%, calc(-480px/24)) 
        rotate(-0.98rad); 
}

.upper-right {
    transform:
        translate(-50%, calc(-480px/24))
        rotate(0.98rad);
}

.lower-right {
    transform:
        translate(-50%, calc(-480px/24))
        rotate(calc(90deg + 0.59rad));
}

.lower-left {
    transform:
        translate(-50%, calc(-480px/24))
        rotate(calc(-90deg - 0.59rad));
}