@charset "UFT-8";
.japanese-flag{
  width: 300px;
  height: 200px;
  background-color: #fff;
  position: relative;
  border: 1px solid #000;
}

.red-circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: absolute;
  background: #d7003a;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.uae-flag {
  width: 400px;
  height: 201px;
  background-color: #ff0000;
  position: relative;
  border: 1px solid #000;
}

.uae-flag-green {
  width: 300px;
  height: 67px;
  background-color: #00732f;
  position: absolute;
  top: 0;
  left: 25%;
}

.uae-flag-white {
  width: 300px;
  height: 67px;
  background-color: #fff;
  position: absolute;
  top: 33%;
  left: 25%;
}

.uae-flag-black {
  width: 300px;
  height: 67px;
  background-color: #000;
  position: absolute;
  top: 66%;
  left: 25%;
}

.korea-flag {
  width: 288px;
  height: 192px;
  background-color: #fff;
  position: relative;
  border: 1px solid #000;
}

.center-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: rotate(-22.5deg);
}

.center-red1 {
  display: inline-block;
  width: 96px;
  height: 48px;
  border-radius: 50% / 100% 100% 0 0;
  position: absolute;
  transform: translate(-37.5%, -75%) rotate(33.6deg);
  background: #cd2e3a;
}

.center-blue1 {
  display: inline-block;
  width: 96px;
  height: 48px;
  border-radius: 50% / 100% 100% 0 0;
  position: absolute;
  transform: translate(-62.5%, 0) rotate(213.6deg);
  background: #0047a0;
}

.center-red2 {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: absolute;
  background-color: #cd2e3a;
  transform: translate(-6.25%, -12.5%) ;
}

.center-blue2 {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: absolute;
  background-color: #0047a0;
  transform: translate(-93.75%, -62.5%) ;
}

.center-dot1 {
  position: absolute;
  top: 50%;
  left: 50%;
}

.barblack1 {
  transform: translate(-50%, -50%) rotate(33.6deg);
}

.b1-1 {
  width: 8px;
  height: 48px;
  background: #000;
  transform: translate(96px, 126px);
}

.b1-2 {
  width: 8px;
  height: 48px;
  background: #000;
  transform: translate(106px, 78px);
}

.b1-3 {
  width: 8px;
  height: 48px;
  background: #000;
  transform: translate(116px, 30px);
}

.b1-4 {
  width: 8px;
  height: 48px;
  background: #000;
  transform: translate(-56px, -9px);
}

.b1-5 {
  width: 8px;
  height: 48px;
  background: #000;
  transform: translate(-66px, -57px);
}

.b1-6 {
  width: 8px;
  height: 48px;
  background: #000;
  transform: translate(-76px, -105px);
}

.b1-w {
  width: 40px;
  height: 4px;
  background-color: #fff;
  transform: translate(93px, -138px);
}

.barblack2 {
  transform: translate(-50%, -50%) rotate(-33.6deg);
}

.b2-1 {
  width: 8px;
  height: 22px;
  background: #000;
  transform: translate(273px, -117px);
}

.b2-1a {
  width: 8px;
  height: 22px;
  background: #000;
  transform: translate(273px, -113px);
}

.b2-2 {
  width: 8px;
  height: 48px;
  background: #000;
  transform: translate(263px, -161px);
}

.b2-3 {
  width: 8px;
  height: 22px;
  background: #000;
  transform: translate(253px, -209px);
}

.b2-3a {
  width: 8px;
  height: 22px;
  background: #000;
  transform: translate(253px, -205px);
}

.b2-4 {
  width: 8px;
  height: 48px;
  background: #000;
  transform: translate(93px, -264px);
}

.b2-5 {
  width: 8px;
  height: 22px;
  background: #000;
  transform: translate(83px, -312px);
}

.b2-5a {
  width: 8px;
  height: 22px;
  background: #000;
  transform: translate(83px, -308px);
}

.b2-6 {
  width: 8px;
  height: 48px;
  background: #000;
  transform: translate(73px, -356px);
}
