.font1 {
    font-family: "Roboto";
    font-weight: 100;
}
.font2 {
    font-family: "Roboto";
    font-weight: 500;
}
.font3 {
    font-family: "Roboto";
    font-weight: 700;
}
.font4 {
    font-family: "Ubuntu";
    font-weight: 500;
}
.font5 {
    font-family: "Ubuntu";
    font-weight: 500;
    font-style: italic;
}
.fa fa-magnifying-glass::before {
    content:"https://fontawesome.com/icons/magnifying-glass?f=classic&s=solid"
}
