@charset "UTF-8";
.wrapper {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 4%;
}

.btn {
    display: block;
    width: 300px;
    height: 150px;
    margin: 20px auto;
    font-size: 2rem;
}