.font-1 {
    font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.font-2 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.font-3 {
    font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.font-4 {
    font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.font-5 {
    font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.search::before {
    font: var(--fa-font-solid);
    content: "\f002";
}